<div class="left-details">
    <h2>Detalles del Repartidor</h2>
    <table>
      <tr>
        <td>DNI:</td>
        <td>{{ driver?.dni }}</td>
      </tr>
      <tr>
        <td>Nombre:</td>
        <td>{{ driver?.nombre }}</td>
      </tr>
      <tr>
        <td>Edad:</td>
        <td>{{ driver?.edad }}</td>
      </tr>
      <tr>
        <td>Capacidad:</td>
        <td>{{ driver?.capacidad }}</td>
      </tr>
      <tr>
        <td>País:</td>
        <td>{{ driver?.pais }}</td>
      </tr>
      <tr>
        <td>Unidad Propia:</td>
        <td>{{ driver?.unidadPropia ? "Sí" : "No" }}</td>
      </tr>
    </table>
  </div>