.container {
  display: flex;
  flex-direction: column;
  height: 90vh; 
}

.list-container {
  flex: 1; 
  flex-direction: column;
  overflow-y: auto;
  border-bottom: 1px solid #ccc; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: beige;
}

.list-container ul {
  list-style: none;
  padding: 0;
}

.list-container li {
  cursor: pointer;
  padding: 5px;
}

.driver-list {
  list-style: none;
  padding: 10px;
}

.driver-list li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #947a7a;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 500;
}

.driver-list li:hover {
  background-color: #e0e0e0; 
}
.details-container {
  display: flex;
  flex: 1;
}

.left-details,
.right-details {
  flex: 1; 
  padding: 10px;
}

.left-details {
  border-right: 1px solid #ccc;
}

.right-details {
  border-left: 1px solid #ccc;
}
